.auth-wrapper {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    padding-left: 40%;
  }
  
  ul.Link li a {
    text-decoration: none; /* Remove underline */
    color: rgb(26, 152, 255); /* Set text color to blue */
    font-weight: bold; /* Make text bold */
}
.Follow{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}
.TERM{
  text-align: center;
}

.custom-background {
  background-image: url('background1.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.SBOX{ 
  width: 300px;
  padding: 20px;
  background-color:rgb(152, 236, 247);
  opacity:0.9;
  border-radius: 10px;
  box-shadow: 0 0 40px aqua;
  text-align: center;
  color:rgb(255, 0, 76);
}
.custom1-background {
  background-image: url('background1.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  
}
.SBOX1{
  width: 700px;
  padding:40px;
  background-color:white;
  margin:auto;
  opacity:0.9;
  border-radius: 10px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sign-in{
  color:rgb(255, 0,76);
}